.services {
  padding: 30px 0;
  background: #dbbcc5;
}
.services h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
}
.services p {
  font-weight: 300;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}
.services-items {
  padding: 70px 0px 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services-item {
  padding: 10px 25px;
  height: 440px;
  width: 295px;
  background: #fff;
  border: 1px solid #00000038;
  border-radius: 2px;
}
.services-item-img {
  border: 1px solid #00000038;
  border-radius: 2px;
  height: 460px;
  width: 345px;
}
.services-item-img img {
  width: 100%;
  height: 460px;
}
.services-item h3 {
  font-weight: 500;
  font-size: 23px;
  width: 80%;
}
.services-item p {
  text-align: left;
  width: 100%;
  margin: 10px 0;
  color: #555;
  font-size: 17px;
}
.services-item div {
  margin: 40px 0;
}
.services-item div h5 {
  margin: 0px;
  color: #555;
  font-size: 17px;
  font-weight: 400;
}
.services-item.center {
  display: flex;
  align-items: center;
}
@media (max-width: 1784px) {
  .services-items {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 1542px) {
  .services-items {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 1460px) {
  .services-items {
    width: 100%;
    margin: 0 auto;
  }
  .services-item {
    height: 420px;
    width: 295px;
  }
  .services-item-img {
    height: 440px;
    width: 345px;
  }
  .services-item-img img {
    height: 440px;
  }
  .services-item h3 {
    font-size: 20px;
  }
  .services-item p {
    font-size: 15px;
  }
}
@media (max-width: 1380px) {
  .services-item {
    width: 245px;
  }
  .services-item-img {
    width: 295px;
  }
}
@media (max-width: 1190px) {
  .services-item h3 {
    font-size: 18px;
  }
  .services-item p {
    font-size: 14px;
  }
  .services-item {
    width: 195px;
  }
  .services-item-img {
    width: 245px;
  }
}
@media (max-width: 1000px) {
  .services p {
    width: 70%;
  }
  .services-item {
    width: 305px;
  }
  .services-item-img {
    width: 355px;
  }
  .services-item h3 {
    font-size: 22px;
  }
  .services-item p {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .services-item {
    width: 265px;
  }
  .services-item-img {
    width: 315px;
  }
  .services-item p {
    font-size: 14px;
  }
}
@media (max-width: 635px) {
  .services p {
    width: 90%;
  }
  .services-items {
    justify-content: center;
  }
  .services-item {
    width: 325px;
  }
  .services-item-img {
    width: 375px;
  }
  .services-item p {
    font-size: 16px;
  }
}
@media (max-width: 403px) {
  .services-item {
    width: 305px;
    height: 440px;
  }
  .services-item-img {
    width: 355px;
    height: 440px;
  }
}
@media (max-width: 370px) {
  .services-item {
    width: 280px;
    height: 440px;
  }
  .services-item-img {
    width: 335px;
    height: 440px;
  }
}
